# --- DATABASE (PostgreSQL) ---
POSTGRES_DB=pkmscan_db
POSTGRES_USER=pkmscan_user
POSTGRES_PASSWORD=pkmscan_password

# --- AWS ---
AWS_PROFILE=pkmscan-web 
AWS_REGION_NAME=eu-west-3
AWS_STORAGE_BUCKET=pkmscan-storage
AWS_RAW_IMG_QUEUE_URL=https://sqs.eu-west-3.amazonaws.com/xxx/queue
